 * {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
 }

 /* Set a base */

 html {
   font-size: 62.5%;
 }

 /* iPhone 4 range */

 @media (min-width:0px) and (max-width:480px) {
   html {
     font-size: 1.0em;
   }
   nav {
     height: 50px;
   }
   .hide-under-400px {
     display: none;
   }
   main {
     margin: 20% auto;
   }
   button {
     padding: 10px;
     margin-top: 10px;
     width: 100px;
   }
   button.next {
     margin-top: 15px;
   }
   .modal-content {
    margin: 25% auto;    
   }
 }

 /* larger than iPhone landscape, an in the iPad portrait range */

 @media (min-width:481px) and (max-width:768px) {
   html {
     font-size: 1.6em;
   }
   nav {
     height: 60px;
   }
   main {
     margin: 90px auto;
   }
   button {
     padding: 15px;
     margin-top: 15px;
     width: 200px;
   }
   .js-check-answer,
   .js-btn-start,
   .start-over {
     font-size: 1.0em;
   }
   button.next {
    padding: 10px;
    margin-top: 10px;
    font-size: .8em;
   }
   button.next {
    margin-top: 15px;
   }
   .modal-content {
    margin: 20% auto;
   }
 }

 /* bigger than iPad portrait  */

 @media (min-width:769px) {
   html {
     font-size: 2em;
   }
   nav {
     height: 60px;
   }
   main {
     margin: 90px auto;
   }
   button {
    padding: 15px;
    margin-top: 15px;
    width: 300px;
  }
  .js-check-answer,
  .js-btn-start,
  .start-over {
    font-size: 1.0em;
  }
  button.next {
   padding: 10px;
   margin-top: 15px;
   font-size: .8em;
  }
  .modal-content {
   margin: 10% auto;
  }


 }

 body {
   font-family: 'Roboto', sans-serif;
   color: #67655D;
 }

 body:before {
   background: url('https://static.pexels.com/photos/317346/pexels-photo-317346.jpeg') no-repeat fixed center;
   background-color: #D4D8D1;
   background-size: 100%;
   display: block;
   content: "";
   position: absolute;
   z-index: -1;
   top: 0;
   left: 0;
   right: 0;
   /*height: 1200px;*/
   height: 100%;
   opacity: .3;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
 }

 nav,
 footer {
   overflow: hidden;
   background-color: #332C2F;
   position: fixed;
   width: 100%;
   color: white;
   text-transform: uppercase;
 }

 nav {
   top: 0;
   font-weight: bold;
   padding: 10px 10px;
 }

 footer {
   bottom: 0;
   height: 50px;
   padding: 10px 20px;
 }

 fieldset {
  border: none;
}

 code {
   font-size: 1.2em;
 }

 .quiz-title {
   display: inline-block;
   margin: 0;
   padding: 0;
 }

 nav ul {
   list-style: none;
 }

 nav ul>li {
   display: inline-block;
   margin-right: 10px;
 }

 .float-right {
   float: right;
 }

 button {
   border: none;
   background-color: #577592;
   color: #ffffff;
   text-transform: uppercase;
   border-radius: 5px;
   cursor: pointer;
   transition: all 0.3s ease;
 }

 button:hover,
 button:focus {
   background-color: #332c2f;
   color: #aa9a66;
 }

 .js-submit-btn {
   text-align: center;
 }

 .quiz-final,
 .start-screen {
   margin: 0 auto;
   text-align: center;
   width: 100%;
 }

 label {
   display: block;
   border: 1px solid black;
   width: 100%;
   margin-top: 10px;
   margin-bottom: 10px;
   padding: 10px;
   background-color: #D4D8D1;
   font-weight: bold;
 }

 label:hover,
 label:focus {
   background-color: wheat;
 }

 :checked+span {
   color: #B74934;
   font-weight: bold;
 }

 .quiz-answer {
   text-align: left;
   margin-left: 10px;
 }

 .quiz-answer:hover,
 .quiz-answer:focus {
   background-color: #332C2F;
   color: #ebca52
 }

 .final-score {
   font-size: 3em;
 }

 .red-text {
   /*color: #B74934;*/
   color: red;
 }

 .centerImage {
   text-align: center;
 }

 /* The Modal (background) */

 .modal {
   /*display: none; */
   /* Hidden by default */
   position: fixed;
   /* Stay in place */
   z-index: 1;
   /* Sit on top */
   left: 0;
   top: 0;
   width: 100%;
   /* Full width */
   height: 100%;
   /* Full height */
   overflow: auto;
   /* Enable scroll if needed */
   background-color: rgb(0, 0, 0);
   /* Fallback color */
   background-color: rgba(0, 0, 0, 0.4);
   /* Black w/ opacity */
 }

 /* Modal Content/Box */

 .modal-content {
   background-color: #fff;
   color: #67655D;
   padding: 20px;
   border: 1px solid #888;
   width: 80%;
   /* Could be more or less, depending on screen size */
   font-size: 1.5em;
   font-weight: bold;
   border-radius: 10px;
   text-align: center;
   display:block;
   overflow:auto;
 }

 /* The Close Button */

 /*.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}*/

 .next {
   /*float: right;*/
   cursor: pointer;
   width: 200px;
   margin: 0 auto;
 }

 /*.center-btn {   
  width: 200px;
  margin: 0 auto;
}*/